/*Add course and add assignments*/

.add > h2{
    color: $link-color-hover;
    font-size: 1.25rem;

}

.add__form{
    width: 100%;
    display: grid;
    grid-template-columns: 80% 20%;
    column-gap: 5px;
    @include mediaQuery(600px){
        grid-template-columns: 90% 10%;

    }
}

.add__form label {
    position: absolute;
    left: -10000px;
}

.add__inputs{
    grid-column-start: 1;
    grid-column-end: 2;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;

}
.add__inputs > input,
.add__inputs > select {
    font-size: 1rem;
    padding: .5rem;
    border: 1px solid $border-color;
}
.add__inputs > select {
    border-bottom: none;
}
.add__addItem{
    grid-column-start: 2;
    grid-column-end: 3;
    @include flexCenter;
}

.add-btn{
    height: 100%;
    width: 100%;
    color: $inverse-font-color;
    font-size: 1rem;
    background-color: $header-color;
    border-radius: 10px;
    padding: .25rem;
    outline: none;
}

.add-btn:focus,
.add-btn:hover{
    box-shadow: 5px 2px 5px $shadow-color;
}

.add-btn:active{
    transform:( 1px, 2px);
    box-shadow: 1px 1px 0 $font-color;
}
