*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 16px;
    font-family: Georgia, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: whitesmoke;
    /* background: radial-gradient(rgba(35, 206, 236,.85),rgb(0, 235, 0)); */
}

main{
    width: 100%;
    min-height: 100vh;
    padding: 1rem;
    max-width: 400px;
}

header,form{
    margin-bottom: 20px;
}
header {
    border-bottom: 1px solid black;
}
form{
    display: flex;
    flex-direction: column;
}
label{
    font-weight: 700;
    margin-bottom: .2em;
}
input, button {
    padding: 0.5rem;
}
input {
    margin-bottom: .5rem;
    font-size: 1.5rem;
}
button{
    color: #fff;
    background: radial-gradient(rgb(170, 238, 45),rgb(135, 241, 135));
    border: none;
    border-radius: 15px;
}

.update{
    margin-bottom: .25rem;
    padding: .25rem;
}

.red{
    border: 1px solid rgb(5, 5, 5);
    background: rgba(250, 0, 0, 0.911);
}